.cabecalho {
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.cabecalho__titulo {
    font-size: 1.8rem;
    font-weight: 700;   
    text-transform: uppercase;
}

.cabecalho__nav {
    background: var(--cor-secundaria);

    margin: 0;
    top: 0;
    height: 100%;
    left: -100%;
    
    padding: 1rem;

    position: fixed;

    transition: left 0.3s ease-out;

    width: 80%;
    max-width: 400px;

    z-index: 1;
}

.menu-ativo .cabecalho__nav{
    left: 0;
}

.cabecalho__nav-link {
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 1.75rem;
    font-weight: 700;
    padding: .75rem;
    text-transform: uppercase;
}

.icon-social {
    font-size: 5rem;
}

.icon-nav {
    cursor: pointer;
    font-size: 3rem;
}

@media screen and (min-width: 768px) {
    .cabecalho {
       justify-content: flex-start;
       margin: 0 30px;
    }

    .cabecalho__titulo {
        padding-left: 70px;
        font-size: 3rem;
    }

    .icon-nav {
        font-size: 4rem;
    }
    
    .cabecalho__nav-link {
        font-size: 1.75rem;  
        padding-bottom: 10px;
    }
    
    .icon-social {
        font-size: 4rem;
        padding-bottom: 10px;
    }
}

@media screen and (min-width: 1024px) {
    .cabecalho__titulo {
        font-size: 4rem;
    }

    .cabecalho .container {
        justify-content: space-between; 
    }
}