.chamada {
    align-items: center;
    background: var(--cor-padrao);
    display: flex;
    flex-direction: column;
}

.chamada__logo {
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 400px;
    width: 50%;
}

.chamada__texto {
    background: #000000;
    color: #E5D700;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 20px 10px;
    padding: 10px;
    text-align: center;
}

.chamada__botao {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 300px;
}

@media screen and (min-width: 768px) {
    .chamada__texto{
        font-size: 50px;
        padding: 10px;
    }

    .chamada__botao {
        font-size: 35px;
        padding: 20px 0;
        width: 400px;
    }
}

@media screen and (min-width: 1024px) {
    .chamada__logo {
        width: 12%; 
    }

    .chamada__botao:hover {
        background: #ffffff;
        border: 2px solid #000000;
        transition: 1s background;
    }
}