.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--cor-padrao);
}

.formulario__painel {
    display: flex;
    flex-direction: column;
}

.formulario__titulo {
    font-size: 2rem;
    font-weight: 700;
    font-family: var(--fonte-titulo);
    text-transform: uppercase;
    margin: 2rem 0;
    background: #000000;
    padding: 10px;
    color: #E5D700; 
}

.formulario__texto {
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 2rem;
}

.formulario__etiqueta {
    font-size: 1.2rem;
    font-weight: 700;
    padding-bottom: .5rem;
}

.formulario__campo {
    width: 300px;
    padding: 10px;
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}

.formulario-campo-texto {
    font-size: 1.2rem;
    padding: 10px;
    margin-bottom: 1rem;
}

.formulario__botao {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
    border-radius: 5px;
    background: var(--cor-padrao);
}

@media screen and (min-width: 768px) {
    .formulario__titulo {
        font-size: 40px;
    }

    .formulario__texto {
        font-size: 35px;
    }

    .formulario__etiqueta{
        font-size: 30px;
    }

    .formulario__campo {
        width: 600px;
        padding: 20px 10px;
        font-size: 30px;
    }

    .formulario-campo-texto {
        font-size: 30px;
    }

    .formulario__botao {
        width: 600px;
        font-size: 35px;
    }
}

@media screen and (min-width: 1024px) {
    .formulario__campo {
        padding: 10px;
        font-size: 20px;
    }

    .formulario__etiqueta{
        font-size: 25px;
    }

    .formulario-campo-texto {
        font-size: 25px;
    }

    .formulario__botao:hover {
        background: #ffffff;
        border: 2px solid #000000;
        transition: 1s background;
    }
}