.localidade {
    align-items: center;
    background: var(--cor-secundaria);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.localidade__titulo {
    background: #000000;
    color: #ffffff;
    font-family: var(--fonte-titulo);
    font-size: 2rem;
    font-weight: 700;
    margin: 3rem 0;
    padding: 10px;
    text-transform: uppercase;
}

.localidade__texto {
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 2rem;
    text-align: center;
}

.localidade__mapa {
    padding-bottom: 50px;
    width: 100vw;
}

@media screen and (min-width: 768px) {
    .localidade__titulo {
        font-size: 40px;
    }

    .localidade__texto {
        font-size: 30px;
    }

    .localidade__mapa {
        width: 100%;
    }
}