.preco__painel {
    background: var(--cor-padrao);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.preco__painel-titulo {
    font-size: 2rem;
    font-family: var(--fonte-titulo);
    font-weight: 700;
    text-transform: uppercase;
    margin: 1.5rem 0;
}

.preco__painel-texto {
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 1.5rem;
}

.preco__cartao {
    display: flex;
    flex-direction: row;
    background: #ffffff;
    margin: 1.5rem 0;
    box-sizing: border-box;
    padding: 1rem 0;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 330;
}

.preco__cartao-imagem {
    width: 100px;
    padding: 0 1rem;
}

.preco__cartao-texto {
    font-size: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    padding-right: 1rem;
}

@media screen  and (min-width: 768px) {
    .preco__painel-titulo { 
        font-size: 3rem;
    }

    .preco__painel-texto {
        font-size: 2rem;
    }
   
    .preco__cartao {
        width: 600px;
        height: 250px;
    } 

    .preco__cartao-texto {
        font-size: 1.75rem;
    }

    .preco__cartao-imagem {
        width: 120px;
        max-height: 200px;
    }

    .preco__cartao {
        justify-content: space-evenly;
    }

    .preco-painel {
        width: 500px;
    }
}

@media screen and (min-width: 1024px) {
    .preco__cartao {
        width: 700px;
    }

    .preco__cartao-texto {
        font-size: 2rem;
    }
}