.preco__painel {
    align-items: center;
    background: var(--cor-padrao);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.preco__painel-titulo {
    background: #000000;
    color: #E5D700;
    font-family: var(--fonte-titulo);
    font-size: 2rem; 
    font-weight: 700;
    margin: 1.5rem 0;
    padding: 10px;
    text-transform: uppercase;
}

.preco__painel-texto {
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 1.5rem;
    text-align: center;
}

.preco__cartao {
    align-items: center;
    background: #ffffff;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 150px;
    justify-content: space-evenly;
    margin: 1.5rem 0;
    padding: 1rem 0;
    width: 330px;
}

.preco__cartao-imagem {
    padding: 0 1rem;
    width: 100px;
}

.preco__cartao-texto {
    font-size: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    text-align: center; 
}

@media screen  and (min-width: 768px) {
    .preco__painel-titulo { 
        font-size: 40px;
    }

    .preco__painel-texto {
        font-size: 30px;
    }
   
    .preco__cartao {
        height: 250px;
        width: 600px;
    } 

    .preco__cartao-texto {
        font-size: 30px;
    }

    .preco__cartao-imagem {
        max-height: 200px;
        width: 120px;
    }

    .preco__cartao {
        justify-content: space-evenly;
    }

    .preco-painel {
        width: 500px;
    }
}

@media screen and (min-width: 1024px) {
    .preco__cartao {
        width: 700px;
    }

    .preco__cartao-texto {
        font-size: 30px;
    }
}