.painel {
    align-items: center;

    display: flex;

    flex-direction: column;
    justify-content: center;
}

.painel__titulo {
    font-size: 2rem;
    font-weight: 700;

    text-transform: uppercase;

    margin: 50px 0;
}

.painel__cartao {
    display: flex;

    align-items: center;

    flex-direction: column;
    justify-content: center;
}

.painel__cartao-imagem {
    padding-bottom: 15px;

    width: 100%; 
}

.painel__cartao-texto {
    font-size: 1.5rem;

    box-sizing: border-box;

    text-align: center;

    padding-bottom: 55px;
}

@media screen and (min-width: 768px) {
    .painel__titulo {
        font-size: 3rem;
    }

    .painel__cartao-texto {
        font-size: 2.5rem;

        padding-bottom: 100px;
    }
}

@media screen and (min-width: 1024px) {
    .painel__desktop {
        display: flex;

        flex-direction: row;

        justify-content: center;

        align-items: initial;
    }

    .painel__cartao {
      margin: 0 10px;
    }
   
    .painel__cartao-imagem  {
        width: 300px;
        height: 300px;

    }

    .painel__cartao-texto {
        font-size: 1.5rem;
        
        padding-bottom: 100px;
    }
}