.painel {
    align-items: center;
    background: var(--cor-secundaria);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.painel__titulo {
    font-family: var(--fonte-titulo);
    font-size: 2rem;
    font-weight: 700;
    margin: 50px 0;
    padding: 10px;
    text-transform: uppercase;
}

.painel__cartao {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.painel__cartao-imagem {
    padding-bottom: 15px;
    width: 100%; 
}

.painel__cartao-texto {
    box-sizing: border-box;
    font-size: 1.5rem;
    padding-bottom: 55px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .painel__titulo {
        font-size: 40px;
    }

    .painel__cartao-texto {
        font-size: 35px;
        padding-bottom: 100px;
    }
}

@media screen and (min-width: 1024px) {
    .painel__desktop {
        align-items:flex-start;
        display: flex;
        flex-direction: row; 
    }

    .painel__cartao {
      justify-content: space-evenly;
      margin: 0 10px;
    }
   
    .painel__cartao-imagem  {
        height: 300px;
        width: 300px;
    }

    .painel__cartao-texto {
        font-size: 25px;
        padding-bottom: 100px;
    }
}