:root {
    --fonte-titulo: font-family: 'Montserrat', sans-serif;
    --cor-padrao: #E5D700;
    --cor-secundaria: #ffffff; 
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    padding-right: 6%;
    padding-left: 6%;
}

.botao {
    border: 2px solid #fff;
    border-radius: 5px;
    box-sizing: border-box;
    display: block;
    padding: 1rem 2rem;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

@media screen and (min-width: 10241px) {
    .container {
        padding-left: calc((100% -940px)/2);
        padding-right: calc((100% -940px)/2);
    }
}